force-app/main/default/flows/CRMforNonProfit__Set_campaign_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>b_c</name>
        <label>běžící</label>
        <locationX>1125</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pl_novan</name>
        <label>plánovaná</label>
        <locationX>597</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ukon_en</name>
        <label>ukončená</label>
        <locationX>861</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Datum_kampan</name>
        <label>Datum kampaně</label>
        <locationX>729</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>b_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>aborted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <label>aborted</label>
        </rules>
        <rules>
            <name>v_budoucnu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pl_novan</targetReference>
            </connector>
            <label>v budoucnu</label>
        </rules>
        <rules>
            <name>v_minulosti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ukon_en</targetReference>
            </connector>
            <label>v minulosti</label>
        </rules>
    </decisions>
    <interviewLabel>Set campaign status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Set campaign status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_campaign</name>
        <label>Update campaign</label>
        <locationX>729</locationX>
        <locationY>660</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>603</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Datum_kampan</targetReference>
        </connector>
        <object>Campaign</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-10-27</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
