force-app/main/default/flows/CRMforNonProfit__DarujmeTransactionFlowNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>company_donation</name>
        <label>company donation</label>
        <locationX>1116</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Vyhledej_kontakt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DarujmePledge.CRMforNonProfit__Company_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_company</targetReference>
            </connector>
            <label>yes company</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_company</name>
        <label>found company</label>
        <locationX>1477</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>create_company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vyhledej_kontakt</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>kontakt_nalezen</name>
        <label>kontakt nalezen</label>
        <locationX>1125</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>VyhledejDefaultniOrganizaci</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vyhledej_kontakt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vyhledej_kampan</targetReference>
            </connector>
            <label>ano</label>
        </rules>
        <rules>
            <name>company_donation2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DarujmePledge.CRMforNonProfit__Company_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_kontakt</targetReference>
            </connector>
            <label>company donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nalezena_kampan</name>
        <label>Nalezena kampan</label>
        <locationX>1133</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Kampan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nalezena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vyhledej_kampan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vytvor_Transakci</targetReference>
            </connector>
            <label>nalezena</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transakce_existuje</name>
        <label>Transakce existuje</label>
        <locationX>724</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>AktualizujTransakci</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transakce_neexistuje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VyhledejFPackTransakci</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vyhledej_Pledge</targetReference>
            </connector>
            <label>Transakce neexistuje</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accId</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!DarujmePledge.CRMforNonProfit__Company_Name__c}), NULL, {!defaultAccount})</expression>
    </formulas>
    <formulas>
        <name>corporate</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK( {!DarujmePledge.CRMforNonProfit__Company_Name__c}), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>PledgeStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Pledge.CRMforNonProfit__Recurrent__c},&apos;Ongoing&apos;,&apos;Fulfilled&apos;)</expression>
    </formulas>
    <formulas>
        <description>protože Project Id na pledge je číslo, takže ho SF vrátí formátované s mezerami a podle toho není schopen najít kampaň, kde je to text bez mezer</description>
        <name>projectId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( TEXT( {!DarujmePledge.CRMforNonProfit__Project_ID__c}), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransactionStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL( {!$Record.CRMforNonProfit__Outgoing_At__c}), &apos;Confirmed&apos;, &apos;Transferred&apos;)</expression>
    </formulas>
    <interviewLabel>DarujmeTransactionFlowNew {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DarujmeTransactionFlowNew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_company</name>
        <label>create company</label>
        <locationX>1497</locationX>
        <locationY>197</locationY>
        <assignRecordIdToReference>defaultAccount</assignRecordIdToReference>
        <connector>
            <targetReference>Vyhledej_kontakt</targetReference>
        </connector>
        <inputAssignments>
            <field>CRMforNonProfit__ICO__c</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__ICO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Tax_ID__c</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Tax_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_kontakt</name>
        <label>Create kontakt</label>
        <locationX>1295</locationX>
        <locationY>440</locationY>
        <assignRecordIdToReference>IDKontaktRealne</assignRecordIdToReference>
        <connector>
            <targetReference>Vyhledej_kampan</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>defaultAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Post_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Vytvor_Transakci</name>
        <label>Vytvoř Transakci</label>
        <locationX>1140</locationX>
        <locationY>865</locationY>
        <assignRecordIdToReference>VytvorenoTransactionID</assignRecordIdToReference>
        <connector>
            <targetReference>Nastav_flag_na_Transfered</targetReference>
        </connector>
        <inputAssignments>
            <field>CRMforNonProfit__Account__c</field>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Campaign__c</field>
            <value>
                <elementReference>IDkampanReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Contact__c</field>
            <value>
                <elementReference>IDKontaktRealne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Corporate_Donation__c</field>
            <value>
                <elementReference>corporate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_ID__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Received_Date__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Received_At2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Sent_Date__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Outgoing_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Outgoing_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Recurrent__c</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Recurrent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Amount__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Sent_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Comment__c</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Date__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Received_At2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>TransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Type__c</field>
            <value>
                <elementReference>defaultTransactionType</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>find_company</name>
        <label>find company</label>
        <locationX>1328</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__ICO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__ICO__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>defaultAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Kampan</name>
        <label>Get Default Kampan</label>
        <locationX>1283</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vytvor_Transakci</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>IDkampanReal</assignToReference>
            <field>CRMforNonProfit__DefaultCampaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultTransactionType</assignToReference>
            <field>CRMforNonProfit__Default_Transaction_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_kampan</name>
        <label>Vyhledej kampan</label>
        <locationX>1132</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nalezena_kampan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Nove_Project_Darujme_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>defaultTransactionType</assignToReference>
            <field>CRMforNonProfit__Default_Transaction_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDkampanReal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_kontakt</name>
        <label>Vyhledej kontakt</label>
        <locationX>1132</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>kontakt_nalezen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IDKontaktRealne</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_Pledge</name>
        <label>Vyhledej Pledge</label>
        <locationX>935</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>company_donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRMforNonProfit__Pledge__c</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Darujme_Pledge__c</object>
        <outputReference>DarujmePledge</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRMforNonProfit__Pledge_ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Project_ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Email__c</queriedFields>
        <queriedFields>CRMforNonProfit__Last_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__First_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__City__c</queriedFields>
        <queriedFields>CRMforNonProfit__Street__c</queriedFields>
        <queriedFields>CRMforNonProfit__Post_Code__c</queriedFields>
        <queriedFields>CRMforNonProfit__Phone__c</queriedFields>
        <queriedFields>CRMforNonProfit__Country__c</queriedFields>
        <queriedFields>CRMforNonProfit__Recurrent__c</queriedFields>
        <queriedFields>CRMforNonProfit__Company_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__ICO__c</queriedFields>
        <queriedFields>CRMforNonProfit__Tax_ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Comment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VyhledejDefaultniOrganizaci</name>
        <label>VyhledejDefaultniOrganizaci</label>
        <locationX>1371</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_kontakt</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>defaultAccount</assignToReference>
            <field>CRMforNonProfit__DefaultAccount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VyhledejFPackTransakci</name>
        <label>VyhledejFPackTransakci</label>
        <locationX>551</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transakce_existuje</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Darujme_cz_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRMforNonProfit__Transaction_ID__c</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Transaction__c</object>
        <outputReference>Transaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AktualizujTransakci</name>
        <label>AktualizujTransakci</label>
        <locationX>733</locationX>
        <locationY>293</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Sent_Date__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Outgoing_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>$Record.CRMforNonProfit__Outgoing_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>TransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Nastav_flag_na_Transfered</name>
        <label>Nastav flag na Transferred</label>
        <locationX>1287</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRMforNonProfit__Transferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Darujme_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>VyhledejFPackTransakci</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CRMforNonProfit__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>success_money_on_account</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRMforNonProfit__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sent_to_organization</stringValue>
            </value>
        </filters>
        <object>CRMforNonProfit__Darujme_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DarujmePledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Pledge__c</objectType>
    </variables>
    <variables>
        <name>defaultAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDkampanReal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDKontaktRealne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDTransakce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Pledge__c</objectType>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Transaction__c</objectType>
    </variables>
    <variables>
        <name>VytvorenoTransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
