force-app/main/default/flows/CRMforNonProfit__DarujmeTransactionFlow_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>kontakt_nalezen</name>
        <label>kontakt nalezen</label>
        <locationX>1125</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>VyhledejDefaultniOrganizaci</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vyhledej_kontakt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vyhledej_kampan</targetReference>
            </connector>
            <label>ano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nalezena_kampan</name>
        <label>Nalezena kampan</label>
        <locationX>1133</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Kampan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nalezena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vyhledej_kampan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vytvor_Transakci</targetReference>
            </connector>
            <label>nalezena</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transakce_existuje</name>
        <label>Transakce existuje</label>
        <locationX>724</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>AktualizujTransakci</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transakce_neexistuje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VyhledejFPackTransakci</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vyhledej_Pledge</targetReference>
            </connector>
            <label>Transakce neexistuje</label>
        </rules>
    </decisions>
    <description>správné hledání kampaně</description>
    <environments>Default</environments>
    <formulas>
        <name>PledgeStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Pledge.CRMforNonProfit__Recurrent__c},&apos;Ongoing&apos;,&apos;Fulfilled&apos;)</expression>
    </formulas>
    <formulas>
        <description>protože Project Id na pledge je číslo, takže ho SF vrátí formátované s mezerami a podle toho není schopen najít kampaň, kde je to text bez mezer</description>
        <name>projectId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( TEXT( {!DarujmePledge.CRMforNonProfit__Project_ID__c}), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransactionStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!DarujmeTransaction.CRMforNonProfit__Outgoing_At__c}), &apos;Confirmed&apos;, &apos;Transferred&apos;)</expression>
    </formulas>
    <interviewLabel>DarujmeTransactionFlow_Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DarujmeTransactionFlow_Template (obsolete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_kontakt</name>
        <label>Create kontakt</label>
        <locationX>1295</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>IDKontaktRealne</assignRecordIdToReference>
        <connector>
            <targetReference>Vyhledej_kampan</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>defaultAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Post_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Vytvor_Transakci</name>
        <label>Vytvoř Transakci</label>
        <locationX>1140</locationX>
        <locationY>796</locationY>
        <assignRecordIdToReference>VytvorenoTransactionID</assignRecordIdToReference>
        <connector>
            <targetReference>Nastav_flag_na_Transfered</targetReference>
        </connector>
        <inputAssignments>
            <field>CRMforNonProfit__Campaign__c</field>
            <value>
                <elementReference>IDkampanReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Contact__c</field>
            <value>
                <elementReference>IDKontaktRealne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_ID__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Received_Date__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Received_At2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Sent_Date__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Outgoing_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Outgoing_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Recurrent__c</field>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Recurrent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Amount__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Sent_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Date__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Received_At2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>TransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Type__c</field>
            <value>
                <elementReference>defaultTransactionType</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Kampan</name>
        <label>Get Default Kampan</label>
        <locationX>1283</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vytvor_Transakci</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>IDkampanReal</assignToReference>
            <field>CRMforNonProfit__DefaultCampaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultTransactionType</assignToReference>
            <field>CRMforNonProfit__Default_Transaction_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NactiTransakci</name>
        <label>NactiTransakci</label>
        <locationX>390</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VyhledejFPackTransakci</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDTransakce</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Darujme_Transaction__c</object>
        <outputReference>DarujmeTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRMforNonProfit__Outgoing_Amount__c</queriedFields>
        <queriedFields>CRMforNonProfit__Outgoing_At__c</queriedFields>
        <queriedFields>CRMforNonProfit__Outgoing_VS__c</queriedFields>
        <queriedFields>CRMforNonProfit__Pledge__c</queriedFields>
        <queriedFields>CRMforNonProfit__Received_Amount__c</queriedFields>
        <queriedFields>CRMforNonProfit__Received_At2__c</queriedFields>
        <queriedFields>CRMforNonProfit__Sent_Amount__c</queriedFields>
        <queriedFields>CRMforNonProfit__Transaction_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_kampan</name>
        <label>Vyhledej kampan</label>
        <locationX>1132</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nalezena_kampan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Nove_Project_Darujme_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>defaultTransactionType</assignToReference>
            <field>CRMforNonProfit__Default_Transaction_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDkampanReal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_kontakt</name>
        <label>Vyhledej kontakt</label>
        <locationX>1129</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>kontakt_nalezen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmePledge.CRMforNonProfit__Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>IDKontaktRealne</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Vyhledej_Pledge</name>
        <label>Vyhledej Pledge</label>
        <locationX>972</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vyhledej_kontakt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Pledge__c</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Darujme_Pledge__c</object>
        <outputReference>DarujmePledge</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRMforNonProfit__Pledge_ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Project_ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Email__c</queriedFields>
        <queriedFields>CRMforNonProfit__Last_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__First_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__City__c</queriedFields>
        <queriedFields>CRMforNonProfit__Street__c</queriedFields>
        <queriedFields>CRMforNonProfit__Post_Code__c</queriedFields>
        <queriedFields>CRMforNonProfit__Phone__c</queriedFields>
        <queriedFields>CRMforNonProfit__Country__c</queriedFields>
        <queriedFields>CRMforNonProfit__Recurrent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VyhledejDefaultniOrganizaci</name>
        <label>VyhledejDefaultniOrganizaci</label>
        <locationX>1297</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_kontakt</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>defaultAccount</assignToReference>
            <field>CRMforNonProfit__DefaultAccount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>VyhledejFPackTransakci</name>
        <label>VyhledejFPackTransakci</label>
        <locationX>551</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transakce_existuje</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Darujme_cz_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Transaction_ID__c</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Transaction__c</object>
        <outputReference>Transaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AktualizujTransakci</name>
        <label>AktualizujTransakci</label>
        <locationX>733</locationX>
        <locationY>224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Sent_Date__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Outgoing_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>DarujmeTransaction.CRMforNonProfit__Outgoing_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>TransactionStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Nastav_flag_na_Transfered</name>
        <label>Nastav flag na Transferred</label>
        <locationX>1287</locationX>
        <locationY>797</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DarujmeTransaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRMforNonProfit__Transferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Darujme_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NactiTransakci</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DarujmePledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Pledge__c</objectType>
    </variables>
    <variables>
        <name>DarujmeTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Transaction__c</objectType>
    </variables>
    <variables>
        <name>defaultAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultTransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDkampanReal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDKontaktRealne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDTransakce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Pledge__c</objectType>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Transaction__c</objectType>
    </variables>
    <variables>
        <name>VytvorenoTransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
