force-app/main/default/flows/CRMforNonProfit__DarujmeSK_flow_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Campaign_exist</name>
        <label>Campaign exist</label>
        <locationX>1013</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Get_default_campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_exist</targetReference>
            </connector>
            <label>Campaign Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_exist</name>
        <label>Company exist</label>
        <locationX>1058</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Create_company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>darujmeSKTransaction.CRMforNonProfit__DIC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_default_account</targetReference>
            </connector>
            <label>no company</label>
        </rules>
        <rules>
            <name>Company_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact</targetReference>
            </connector>
            <label>Company Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_exist</name>
        <label>Contact exist</label>
        <locationX>776</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>Get_company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vytvor_Transakci</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transakce_existuje</name>
        <label>Transakce existuje</label>
        <locationX>514</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>AktualizujTransakci</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Transakce_neexistuje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VyhledejFPackTransakci</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_contact</targetReference>
            </connector>
            <label>Transakce neexistuje</label>
        </rules>
    </decisions>
    <formulas>
        <name>PledgeStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Pledge.CRMforNonProfit__Recurrent__c},&apos;Ongoing&apos;,&apos;Fulfilled&apos;)</expression>
    </formulas>
    <formulas>
        <name>TransactionStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!DarujmeTransaction.CRMforNonProfit__Outgoing_At__c}), &apos;Confirmed&apos;, &apos;Transferred&apos;)</expression>
    </formulas>
    <interviewLabel>DarujmeSK flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DarujmeSK flow Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_company</name>
        <label>Create company</label>
        <locationX>1200</locationX>
        <locationY>310</locationY>
        <assignRecordIdToReference>accountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CRMforNonProfit__Tax_ID__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__DIC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Nazev_firmy__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>1040</locationX>
        <locationY>388</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Vytvor_Transakci</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Vytvor_Transakci</name>
        <label>Vytvoř Transakci</label>
        <locationX>768</locationX>
        <locationY>502</locationY>
        <assignRecordIdToReference>VytvorenoTransactionID</assignRecordIdToReference>
        <inputAssignments>
            <field>CRMforNonProfit__Campaign__c</field>
            <value>
                <elementReference>campaignId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_ID__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Amount__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Date__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Created_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_contact</name>
        <label>Find contact</label>
        <locationX>665</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_campaign</name>
        <label>Get campaign</label>
        <locationX>873</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Nove_Project_Darujme_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaignId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_company</name>
        <label>Get company</label>
        <locationX>936</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Tax_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__DIC__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_default_account</name>
        <label>Get default account</label>
        <locationX>1362</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>CRMforNonProfit__DefaultAccount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_default_campaign</name>
        <label>Get default campaign</label>
        <locationX>1163</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_exist</targetReference>
        </connector>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <outputAssignments>
            <assignToReference>campaignId.Id</assignToReference>
            <field>CRMforNonProfit__DefaultCampaign__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NactiTransakci</name>
        <label>NactiTransakci</label>
        <locationX>180</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VyhledejFPackTransakci</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDTransakce</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Darujme_Donation__c</object>
        <outputReference>darujmeSKTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRMforNonProfit__Amount__c</queriedFields>
        <queriedFields>CRMforNonProfit__Campaign__c</queriedFields>
        <queriedFields>CRMforNonProfit__Address__c</queriedFields>
        <queriedFields>CRMforNonProfit__DIC__c</queriedFields>
        <queriedFields>CRMforNonProfit__Email__c</queriedFields>
        <queriedFields>CRMforNonProfit__First_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__ICO__c</queriedFields>
        <queriedFields>CRMforNonProfit__ICO_DPH__c</queriedFields>
        <queriedFields>CRMforNonProfit__Variable_Symbol__c</queriedFields>
        <queriedFields>CRMforNonProfit__Nazev_firmy__c</queriedFields>
        <queriedFields>CRMforNonProfit__Last_Name__c</queriedFields>
        <queriedFields>CRMforNonProfit__Periodicity__c</queriedFields>
        <queriedFields>CRMforNonProfit__Phone__c</queriedFields>
        <queriedFields>CRMforNonProfit__Status__c</queriedFields>
        <queriedFields>CRMforNonProfit__Payment_Method__c</queriedFields>
        <queriedFields>CRMforNonProfit__Periodicity_No__c</queriedFields>
        <queriedFields>CRMforNonProfit__ID__c</queriedFields>
        <queriedFields>CRMforNonProfit__Created_At__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VyhledejFPackTransakci</name>
        <label>VyhledejFPackTransakci</label>
        <locationX>341</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transakce_existuje</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Darujme_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__ID__c</elementReference>
            </value>
        </filters>
        <object>CRMforNonProfit__Transaction__c</object>
        <outputReference>Transaction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AktualizujTransakci</name>
        <label>AktualizujTransakci</label>
        <locationX>523</locationX>
        <locationY>224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRMforNonProfit__Darujme_cz_Sent_Date__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Created_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Real_Amount__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Transaction_Status__c</field>
            <value>
                <elementReference>darujmeSKTransaction.CRMforNonProfit__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CRMforNonProfit__Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>NactiTransakci</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DarujmePledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Pledge__c</objectType>
    </variables>
    <variables>
        <name>darujmeSKTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Donation__c</objectType>
    </variables>
    <variables>
        <name>DarujmeTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Darujme_Transaction__c</objectType>
    </variables>
    <variables>
        <name>IDTransakce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Pledge__c</objectType>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Transaction__c</objectType>
    </variables>
    <variables>
        <name>VytvorenoTransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
