force-app/main/default/flows/CRMforNonProfit__CreateContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_coll</name>
        <label>Add to coll</label>
        <locationX>1385</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>transColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_transactions</name>
        <label>Count of transactions</label>
        <locationX>932</locationX>
        <locationY>1665</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_additional_transactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_companyTr</name>
        <label>Link to company</label>
        <locationX>597</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Get_Transaction.CRMforNonProfit__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firma_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Transaction.CRMforNonProfit__Corporate_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relink_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_companyTr_0</name>
        <label>Link to company</label>
        <locationX>1324</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>Loop.CRMforNonProfit__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firma_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.CRMforNonProfit__Corporate_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>link_to_contact</name>
        <label>link to contact</label>
        <locationX>496</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_based_on_account_number.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_transaction_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_to_contact2</name>
        <label>Link to contact</label>
        <locationX>1087</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>Loop.CRMforNonProfit__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_to_company_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_transaction_contact</name>
        <label>Update transaction contact</label>
        <locationX>730</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Get_Transaction.CRMforNonProfit__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_to_company</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>nechatChoice</name>
        <choiceText>Nechat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nechat</stringValue>
        </value>
    </choices>
    <choices>
        <name>novyChoice</name>
        <choiceText>Vytvořit nový</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nový</stringValue>
        </value>
    </choices>
    <choices>
        <name>spojitChoice</name>
        <choiceText>Spojit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>spojit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_contact_based_on_bank_account</name>
        <label>Found contact based on bank account</label>
        <locationX>729</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Vytvo_kontakt_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_based_on_account_number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction.CRMforNonProfit__Source_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spojit_s_kontaktem</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_to_company</name>
        <label>Link to company</label>
        <locationX>729</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Relink_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Firma_0.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Default_Company.CRMforNonProfit__DefaultAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_companyTr</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_to_company_0</name>
        <label>Link to company</label>
        <locationX>1234</locationX>
        <locationY>1033</locationY>
        <defaultConnector>
            <targetReference>Add_to_coll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Firma_0.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Default_Company.CRMforNonProfit__DefaultAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_companyTr_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_transactions</name>
        <label>Other transactions?</label>
        <locationX>920</locationX>
        <locationY>1479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dal_transakce</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spojit_Nechat</name>
        <label>Spojit/Nechat</label>
        <locationX>1092</locationX>
        <locationY>1336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>spojitDecision2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nap_rovat_Nechat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>spojitChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>spojitDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spojit_Vytvorit</name>
        <label>Spojit/Vytvorit</label>
        <locationX>371</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>Vytvo_kontakt_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SpojitDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Spojit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>spojitChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>link_to_contact</targetReference>
            </connector>
            <label>Spojit</label>
        </rules>
    </decisions>
    <description>Včetně přepojení daších transakcí a kontroly existence kontaktu podle čísla účtu</description>
    <formulas>
        <name>krestniDef</name>
        <dataType>String</dataType>
        <expression>TRIM( LEFT( {!Get_Transaction.CRMforNonProfit__Bank_Account_Name__c}, FIND( &quot; &quot;, {!Get_Transaction.CRMforNonProfit__Bank_Account_Name__c})))</expression>
    </formulas>
    <formulas>
        <name>prijmeniDef</name>
        <dataType>String</dataType>
        <expression>TRIM( RIGHT( {!Get_Transaction.CRMforNonProfit__Bank_Account_Name__c}, LEN(  {!Get_Transaction.CRMforNonProfit__Bank_Account_Name__c}) - FIND( &quot; &quot;, {!Get_Transaction.CRMforNonProfit__Bank_Account_Name__c})))</expression>
    </formulas>
    <interviewLabel>CreateContact {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>CreateContact</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1091</locationX>
        <locationY>1185</locationY>
        <collectionReference>Get_additional_transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_to_contact2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_0</name>
        <label>Create Contact</label>
        <locationX>862</locationX>
        <locationY>806</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_transaction_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Firma_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRMforNonProfit__Account_Num__c</field>
            <value>
                <elementReference>Get_Transaction.CRMforNonProfit__Source_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Krestni_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Prijmeni_0</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_additional_transactions</name>
        <label>Get additional transactions</label>
        <locationX>930</locationX>
        <locationY>1808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Source_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transaction.CRMforNonProfit__Source_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Transaction.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRMforNonProfit__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Company.CRMforNonProfit__DefaultContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRMforNonProfit__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_based_on_account_number</name>
        <label>Get contact based on account number</label>
        <locationX>729</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contact_based_on_bank_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRMforNonProfit__Account_Num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Transaction.CRMforNonProfit__Source_Account_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Company</name>
        <label>Get Default Company</label>
        <locationX>729</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact_based_on_account_number</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRMforNonProfit__NNOSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction</name>
        <label>Get Transaction</label>
        <locationX>729</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRMforNonProfit__Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Relink_Transaction</name>
        <label>Relink Transaction</label>
        <locationX>729</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_additional_transactions</targetReference>
        </connector>
        <inputReference>Get_Transaction</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_transactions</name>
        <label>Update all transactions</label>
        <locationX>1374</locationX>
        <locationY>1219</locationY>
        <inputReference>transColl</inputReference>
    </recordUpdates>
    <screens>
        <name>Dal_transakce</name>
        <label>Další transakce</label>
        <locationX>1102</locationX>
        <locationY>1473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Spojit_Nechat</targetReference>
        </connector>
        <fields>
            <name>dalsi</name>
            <fieldText>&lt;p&gt;Nalezli jsme {!count} dalších transakcí z tohoto čísla účtu, které nejsou napárované. Chcete je spojit s tímto kontaktem?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nap_rovat_Nechat</name>
            <choiceReferences>spojitChoice</choiceReferences>
            <choiceReferences>nechatChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>spojitChoice</defaultSelectedChoiceReference>
            <fieldText>Spojit/Nechat?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Spojit_s_kontaktem</name>
        <label>Spojit s kontaktem</label>
        <locationX>397</locationX>
        <locationY>619</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Spojit_Vytvorit</targetReference>
        </connector>
        <fields>
            <name>KontaktExist</name>
            <fieldText>&lt;p&gt;S tímto bankovním účtem je již spojen kontakt {!Get_contact_based_on_account_number.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_contact_based_on_account_number.LastName}. Chcete s ním spojit transakci nebo vytvořit nový?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spojit</name>
            <choiceReferences>spojitChoice</choiceReferences>
            <choiceReferences>novyChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>spojitChoice</defaultSelectedChoiceReference>
            <fieldText>Spojit/Nový?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vytvo_kontakt_0</name>
        <label>Vytvoř kontakt</label>
        <locationX>861</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_0</targetReference>
        </connector>
        <fields>
            <name>Krestni_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>krestniDef</elementReference>
            </defaultValue>
            <fieldText>Křestní jméno</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Prijmeni_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>prijmeniDef</elementReference>
            </defaultValue>
            <fieldText>Příjmení</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Firma_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CRMforNonProfit__Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Firma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>CRMforNonProfit__Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Default_Company.CRMforNonProfit__DefaultAccount__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>603</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Transaction</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRMforNonProfit__Transaction__c</objectType>
    </variables>
</Flow>
